# Dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage
*.test.js
*.test.ts
*.test.tsx
*.spec.js
*.spec.ts
*.spec.tsx

# Next.js
.next/
out/
build/

# Misc
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Git
.git
.gitignore
README.md

# Docker
Dockerfile
.dockerignore
docker-compose*

# IDE
.vscode
.idea
*.swp
*.swo

# OS
Thumbs.db

# Logs
logs
*.log
